@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border p-0;
  }
  html {
    @apply scroll-smooth bg-slate-800;
  }
  body {
    @apply font-normal text-white text-opacity-90;
  }
  section {
    @apply min-h-screen bg-slate-800 p-4;
  }
  ::-webkit-scrollbar {
    @apply hidden;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizelegibility;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @apply bg-black text-blue-600;
  }
}
